In [1]:
import pandas as pd
import numpy as np

In [3]:
city_file = "cities.csv"
cities_df = pd.read_csv(city_file, encoding="UTF-8")
cities_df.head()

,City_ID,City,Country,Date Processed,Latitude,Longitude,Temperature Max,Humidity,Cloudiness,Wind Speed
0,0,Tatarsk,RU,1561607432,55.22,75.96,52.25,89,100,9.73
1,1,Saint-Augustin,CA,1561607184,45.63,-73.98,71.60,83,20,8.05
2,2,Chernoyerkovskaya,RU,1561607529,45.43,37.76,68.00,72,0,8.95
3,3,Tovarkovskiy,RU,1561607529,53.68,38.22,57.11,96,100,7.09
4,4,Maldonado,UY,1561607529,-34.91,-54.96,44.60,81,0,3.36

In [4]:
cities_df.to_html('dataLatitude.html', index = False, header = True)
!open dataLatitude.html